<div class="chat-window__header">
  <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
  <span class="chat-window__username">{{ chatParticipant.username }}</span>
</div>

<div class="chat-window__body" infiniteScroll
                               [infiniteScrollDistance]="1"
                               [infiniteScrollThrottle]="150"
                               [scrollWindow]="false"
                               (scrolledUp)="onScroll()">

  <div class="message" *ngFor="let message of messages">
    <div [ngClass]="{'owner__info': message.senderId == currentUser!.id, 'friend__info': message.senderId != currentUser!.id}">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username owner__username" *ngIf="message.senderId == currentUser!.id">{{currentUser!.username}}</span>
      <span class="username friend__username" *ngIf="message.senderId != currentUser!.id">{{chatParticipant!.username}}</span>
      <span class="date owner__date" *ngIf="message.senderId == currentUser!.id">{{message.timestamp | date: 'short'}}</span>
      <span class="date friend__date" *ngIf="message.senderId != currentUser!.id">{{message.timestamp | date: 'short'}}</span>
    </div>

    <div class="message-content" [ngClass]="{'owner__content': message.senderId == currentUser!.id, 'friend__content': message.senderId != currentUser!.id}">
      <p>{{message.content}}</p>
    </div>
  </div>
</div>

<app-chat-input (messageSent)="onMessageSent($event)"></app-chat-input>
