<div class="chat-window__header">
  <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
  <span class="chat-window__username">Сара Конор</span>
</div>

<div class="chat-window__body">

  <div class="message">
    <div class="owner__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username owner__username">Сара Конор</span>
      <span class="date owner__date">4:20</span>
    </div>

    <div class="message-content owner__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>

  <div class="message">
    <div class="friend__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username friend__username">Чарльз Буковски</span>
      <span class="date friend__date">4:20</span>
    </div>

    <div class="message-content friend__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>

  <div class="message">
    <div class="owner__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username owner__username">Сара Конор</span>
      <span class="date owner__date">4:20</span>
    </div>

    <div class="message-content owner__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>

  <div class="message">
    <div class="friend__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username friend__username">Чарльз Буковски</span>
      <span class="date friend__date">4:20</span>
    </div>

    <div class="message-content friend__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="message">
    <div class="owner__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username owner__username">Сара Конор</span>
      <span class="date owner__date">4:20</span>
    </div>

    <div class="message-content owner__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>

  <div class="message">
    <div class="friend__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username friend__username">Чарльз Буковски</span>
      <span class="date friend__date">4:20</span>
    </div>

    <div class="message-content friend__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="message">
    <div class="owner__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username owner__username">Сара Конор</span>
      <span class="date owner__date">4:20</span>
    </div>

    <div class="message-content owner__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>

  <div class="message">
    <div class="friend__info">
      <img class="chat-window__avatar" src="/assets/imgs/default.jpg" alt="">
      <span class="username friend__username">Чарльз Буковски</span>
      <span class="date friend__date">4:20</span>
    </div>

    <div class="message-content friend__content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
</div>
