<div class = "profile-card">
  <div class = "avatar-name">
    <img src = "" alt="avatar" class = "profile-card__avatar">
    <div class = "profile-card__name">
      <strong class = "h6">Ты Гусь</strong>
      <span class="subtitle">AUF</span>
    </div>
  </div>

  <div class = "profile-card__description">
    fdssssssfeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>

  <div class = "profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Angular</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
