<div class="search">
  <input type="text" placeholder="Искать..." class="search-input">
  <div class="search-border"></div>
</div>

@for (chat of chats; track chat) {
  <div class="chat">
    <div class="chat-section" (click)="selectChat(chat)">
      <div class="chat-header">
        @for(participant of chat.participants; track participant) {
          @if(participant.id != currentUser?.id) {
            <img class="chat-avatar" src="/assets/imgs/default.jpg" alt="">
            <span class="chat__username">{{participant.username}}</span>
            <span class="chat__date">{{chat.lastMessageTime | date: 'short'}}</span>
          }
        }
      </div>
      <div class="chat-content">
        <p class="content__text">{{chat.lastMessage}}</p>
      </div>
    </div>
  </div>
}

<button *ngIf="hasMoreChats" class="load-more" (click)="loadChats()">Загрузить ещё</button>
